.card {
  display: grid;
  grid-template: auto repeat(3, 30px)/300px;
  text-align: center;
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
  height: fit-content;
  margin-bottom: 20px;
  align-items: center;
  justify-items: center;
}

.cardImageContainer {
  position: relative;
}

.cardImageContainer img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  z-index: 0;
}

.cardImageContainer img:hover {
  opacity: 50%;
  transition: opacity 0.5s;
}

.cardImageContainer p {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  right: 3%;
  font-size: 30px;
  margin: 0;
}

.cardImageContainer p:hover {
  opacity: 100%;
  color: red;
}



.cardList {
  display: flex;
  gap: 10px 20px;
  overflow: scroll;
  overflow-x: visible;
  flex-flow: row-reverse;
}

.heroes-menu {
  display: grid;
  grid-template: 70px 300px/ 400px;
  text-align: center;
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
  height: max-content;
  width: max-content;
}
