
.container{
  display: grid;
  grid-template: auto 1fr/1fr;
  max-height: 100vh;
  background-color: #e0e1d95c;
}


.cart-list{
  overflow: scroll;
}


.searchBar{
  align-self: center;
  margin: 10px;
}
