<div *ngIf="country.length === 0; else table">
  There aren't informarion to display
</div>

<ng-template #table>
  <table>
    <thead>
      <th>#</th>
       <th>Flag</th>
      <th>Name</th>
      <th>Capital</th>
      <th>Population</th>
    </thead>
    <tbody>
      <tr *ngFor="let country of country; let i = index">
        <td>{{i+1}}</td>
        <!-- <td>{{country.flag}}</td> -->
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.official" style="max-width: 52px;">
        </td>
        <td> {{country.name.official}}</td>
        <td> {{country.capital}}</td>
        <td>{{country.population | number}}</td>
        <td>
          <a [routerLink]="[ '/countries/by/', country.cca3]" >Info {{country.cca3}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
