.list li{
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
}

.active{
  background-color: rgb(56, 105, 197);
  border-color: rgb(56, 105, 197);
  color: white;
  border-color: black;

}
