.card {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(25, 28, 32);
  color: white;
  text-align: center;
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
  height: fit-content;
  margin-bottom: 20px;
  align-items: center;
  justify-items: center;
}

