.cardList {
  display: grid;
  grid-template: auto/repeat(5, 1fr);
  gap: 10px 20px;
  margin: 20px;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(25, 28, 32);
  color: white;
  text-align: center;
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
  height: fit-content;
  margin-bottom: 20px;
  align-items: center;
  justify-items: center;
}

.cardImageContainer {
  position: relative;
}

.cardImageContainer img {
  border-radius: 30px;
  width: 100%;
  height: auto;
  z-index: 0;
}

.cardImageContainer img:hover {
  opacity: 50%;
  transition: opacity 0.5s;
}

.cardImageContainer p {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  right: 3%;
  font-size: 30px;
  margin: 0;
}

.cardImageContainer p:hover {
  opacity: 100%;
  color: red;
}
