.side-bar {
  display: grid;
  /* grid-template: repeat(10,100px)/100px; */
  align-items: center;
  justify-items: center;
  background: rgb(25, 28, 32);
  grid-template: repeat(10, 40px)/1fr;
  height: 100vh;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}


.side-bar-tittle {
  font-size: x-large;
  justify-self: left;
  margin-top: 40px;
  margin-left: 10px;
  color: whitesmoke;
}

.side-bar-button{
  height: 40px;
  font-size: 20px;
  width: 250px;
  border-radius: 7px;
}

.side-bar-button:focus{
  box-shadow: 0 0 15px rgb(151 74 74 / 50%);
  border: 2px solid rgb(151 74 74 / 50%);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.side-bar-button:hover{
  border-radius: 15px;
  cursor: pointer;
  opacity: .65;
  transition: border-radius linear 0.2s, opacity linear 0.4s;
}

.side-bar-button:not(:hover){
  border-radius: 7px;
  transition: border-radius linear 0.2s;
}
